# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.InstaCafeV4.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\moniq\source\repos\InstaCafeV4\.idea\.idea.InstaCafeV4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
