@{
    ViewData["Title"] = "Home Page";
}

<link href="css/StyleSheet.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="css/animate-3.7.0.css">
<link rel="stylesheet" href="css/font-awesome-4.7.0.min.css">
<link rel="stylesheet" href="css/bootstrap-4.1.3.min.css">
<link rel="stylesheet" href="css/owl-carousel.min.css">
<link rel="stylesheet" href="css/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="css/style.css">

<style>

    .banner-area {
        background-image: url("https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_960_720.jpg");
    }
.reservation-area { background-image: url("https://cdn.pixabay.com/photo/2016/12/16/15/25/christmas-1911637_960_720.jpg"); 
                   cursor:pointer;
}
s
.single-food{
    cursor:pointer;
}
    
</style>

<div class="preloader">
    <div class="spinner"></div>
</div>
<!-- Preloader End -->
<!-- Header Area Starts -->
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo-area">
                    <a href="index.html"><img src="assets/images/logo/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="custom-navbar">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="main-menu">
                    <ul>
                        <li class="active"><a href="index.html">home</a></li>
                        <li><a href="about.html">about</a></li>
                        <li><a href="menu.html">menu</a></li>
                        <li>
                            <a href="#">blog</a>
                            <ul class="sub-menu">
                                <li><a href="blog-home.html">Blog Home</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="contact-us.html">contact</a></li>
                        <li><a href="elements.html">Elements</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
<!-- Banner Area Starts -->
<section class="banner-area text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1>
                    <span class="prime-color" style="text-align:center">Welcome</span><br>
                    <span class="style-change">to <span class="prime-color">Insta</span>Cafe</span>
                </h1>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->
<!-- Welcome Area Starts -->
<section class="welcome-area section-padding2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <div class="welcome-img">
                    <img src="https://cdn.pixabay.com/photo/2017/05/04/15/12/welcome-sign-2284312_960_720.jpg" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="welcome-text mt-5 mt-md-0">
                    <h3><span class="style-change">welcome</span> <br>Insta Cafe!</h3>
                    <p class="pt-3">Created god gathered don't you yielding herb you had. And isn't, god was saw. Dominion. Great sixth for in unto was. Open can't tree am waters brought. Divide after there. Was.</p>
                    <p>Created god gathered don't you yielding herb you had. And isn't, god was saw. Dominion. Great sixth for in unto was. Open can't tree waters brought. Divide after there. Was. Created god gathered don't you yielding herb you had. And isn't god.</p>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Area End -->
<!-- Food Area starts -->
<section class="food-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-top">
                    <h3><span class="style-change">we serve</span> <br>delicious food</h3>
                    <p class="pt-3">They're fill divide i their yielding our after have him fish on there for greater man moveth, moved Won't together isn't for fly divide mids fish firmament on net.</p>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="https://cdn.pixabay.com/photo/2021/02/18/23/27/avocadoes-6028649_960_720.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Avocado Salad</h5>
                            <span class="style-change">$14.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="https://cdn.pixabay.com/photo/2016/11/06/23/29/tomatoes-1804452_960_720.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>bread salad</h5>
                            <span class="style-change">$8.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="https://i.ytimg.com/vi/gA71PQJlgqs/maxresdefault.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Ital Stew</h5>
                            <span class="style-change">$11.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Food Area End -->
<!-- Snacks Area starts -->
<section class="food-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="section-top">
                    <h3><span class="style-change">we serve</span> <br>Snacks</h3>
                    <p class="pt-3">They're fill divide i their yielding our after have him fish on there for greater man moveth, moved Won't together isn't for fly divide mids fish firmament on net.</p>
                </div>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="https://www.jamaicanmedium.com/recipes/wp-content/uploads/2019/06/banana-bread-horiz-a-1600.jpg"  class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Banana Bread</h5>
                            <span class="style-change">$14.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="https://cdn.pixabay.com/photo/2016/05/26/16/27/baking-1417494_960_720.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Cinamon Roll</h5>
                            <span class="style-change">$8.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-food mt-5">
                    <div class="food-img">
                        <img src="https://cdn.pixabay.com/photo/2015/03/26/09/39/cupcakes-690040_960_720.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="food-content">
                        <div class="d-flex justify-content-between">
                            <h5>Cup Cake</h5>
                            <span class="style-change">$11.50</span>
                        </div>
                        <p class="pt-3">Face together given moveth divided form Of Seasons that fruitful.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Snacks Area End -->
<!-- Reservation Area Starts -->
<div class="reservation-area section-padding text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Natural ingredients and testy food</h2>
                <h4 class="mt-4">some trendy and popular courses offerd</h4>
                <a href="" class="template-btn template-btn2 mt-4">Place Your Order!</a>
            </div>
        </div>
    </div>
</div>
<!-- Reservation Area End -->
<!-- Deshes Area Starts -->
<div class="deshes-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top2 text-center">
                    <h3>Today's Menu</h3>
                    <p><i>Beast kind form divide night above let moveth bearing darkness.</i></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-6 align-self-center">
                <h1>01.</h1>
                <div class="deshes-text">
                    <h3><span>Sorrel Sauce Tipplets</span><br>Lentil Rice</h3>
                    <p class="pt-3">Be. Seed saying our signs beginning face give spirit own beast darkness morning moveth green multiply she'd kind saying one shall, two which darkness have day image god their night. his subdue so you rule can.</p>
                    <span class="style-change">$12.00</span>
                    <a href="#" class="template-btn3 mt-3">order now!<span><i class="fa fa-long-arrow-right"></i></span></a>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
                <img src="https://3.bp.blogspot.com/-Bebn9k8Fh98/Wz_ubwZw3NI/AAAAAAAAJX4/WNktDI8MxKMZ1yxWK6SdOH6w_1fGRNmUwCLcBGAs/s1600/Sorrel-Wings-recipe.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
                <img src="https://tipbuzz.com/wp-content/uploads/Pineapple-Chicken-.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2">
                <h1>02.</h1>
                <div class="deshes-text">
                    <h3><span>Mock Chicken </span><br>Pineapple Sauce</h3>
                    <p class="pt-3">Be. Seed saying our signs beginning face give spirit own beast darkness morning moveth green multiply she'd kind saying one shall, two which darkness have day image god their night. his subdue so you rule can.</p>
                    <span class="style-change">$12.00</span>
                    <a href="#" class="template-btn3 mt-3">order now! <span><i class="fa fa-long-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Dishes Area End -->


<!-- Footer Area End -->
<!-- Javascript -->
<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="js/vendor/bootstrap-4.1.3.min.js"></script>
<script src="js/vendor/wow.min.js"></script>
<script src="js/vendor/owl-carousel.min.js"></script>
<script src="js/vendor/jquery.datetimepicker.full.min.js"></script>
<script src="js/vendor/jquery.nice-select.min.js"></script>
<script src="js/main.js"></script>